@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  min-height: 200vh;
}

.outer-container {
  border: 3px dashed #000;
  width: 75vw;
  height: 85vh;
  margin: 40px auto;
  position: relative;
}

.inner-container {
  border: 2px solid #00f;
  width: 40vw;
  height: 50vh;
  margin: 200px auto;
  /* position: relative; */
}

.box {
  width: 150px;
  height: 150px;
  color: #fff;
  padding: 1rem;
}

.absolute {
  background-color: aqua;
  position: absolute;
  
  /* top, right, left, or bottom, must be set for position absolute. */
  top: 10px;
  left: 10px;

  /* 100px from top and 50px from left from closest relative,sticky parent element. */
  /* top: 100px; */
  /* left: 50px; */

  /* Default of 0 */
  z-index: 1;

  /* Move absolute div off the page. */
  /* left: -10000px; */
}

/* relative position is relative to its parent element. */
 /* top, right, left, or bottom, must be set for position relative. */
.relative {
  background-color: bisque;
  position: relative;
  top: 10px;
  left: 10px;
}

.fixed {
  background-color: cadetblue;
  position: fixed;
  top: 10px;
  left: 10px;
}

.sticky {
  background-color: indianred;
  position: sticky;
  top: 10px;
}